@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper-field {
  text-align: center;
}

.wrapper-field h3 {
  background: linear-gradient(to right, rgb(220, 67, 20), rgb(0, 201, 252));
  background-size: 200% 200%;
  animation: rainbow 4s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  animation: bounce 4s infinite, rainbow 10s infinite;
  font-size: 25px;
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.field {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px;
}

input {
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    padding: 10px;
    box-sizing: border-box;
  }